body {
    margin-top: 60px;
    margin-bottom: 60px ! important;
}

.MenuItem, .MenuItemDisabled, .MenuItemChecked, .MenuItemSeparator {
	font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    text-decoration: none; 
    color: #000000;
	padding-right: 5px;
	padding-top: 1px;
    padding-left: 10px;
    cursor: pointer;
}

div.MenuItem:hover, div.MenuItemChecked:hover, .MenuPopupTitle {
	background-color: #aa3300 !important;
	color: #FFFFFF;
}
.MenuItemDisabled,.MenuItemSeparator {
    cursor: default;
    color: #992200;
}

.MenuItemChecked:after {
    content: " \2713";
}
.MenuPopup img {
    margin-top: 2px;
}

.MenuPopup {
    -moz-user-modify: read-only;
    -moz-user-input: disabled;
    -moz-user-select: none;
	
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	margin-right:1px;
	margin-bottom: 0px;
    border-bottom: 0px;
	border:1px solid  #555555;
	background-color:     #ff6600;
    padding: 0px 0px 0px 0px;
    border-style: outset;
    width: 16em;
    z-index: 10000;
    
     border: 1px dotted black;
}

.Menu {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
	margin-right:0px;
	margin-bottom: 0px;
    border-bottom: 0px;
	border:0px solid  #555555;
	background-color:     #ff6600;
    padding: 0px 10px 0px 5px;
    border: 1px solid transparent;
    min-width: 10em;
    cursor: pointer;

}

.Menu:hover {
    border: 1px dotted black;
    cursor: pointer; 
    background-color: #aa3300 !important;
	color: #FFFFFF;
}

.MenuBar, .StatusBar {
    height: 16px;
    width: 100%;
    background-color:     #ff6600;
    z-index:1000;
    -moz-user-select: none;
    
}

.Menubar {
    -moz-user-modify: read-only;
    -moz-user-input: disabled;
    -moz-user-select: none;
}

.StatusBar span:before {
    content: '<';
}


.StatusBar span:after {
    content: '> ';
}
.StatusBar {
    padding-top: 1px;
    /* 18px for one columns*/
    height: 36px;
    line-height: 18px;
}

.StatusBar span, .StatusBar div {
    font: 10px Geneva, Verdana, sans-serif; 
    margin: 3px 0px 3px 0px;
    border: 1px solid transparent; 
    padding: 2px 0px 2px 3px;
    line-height: 18px;
    
}

.StatusBar div {
    border: 1px dotted black;
    cursor: inherit; 
    background-color: #aa3300 !important;
	color: #FFFFFF;
    margin-left: 20px;
}
.StatusBar span:hover {
    border: 1px dotted black;
    cursor: pointer; 
    background-color: #aa3300 !important;
	color: #FFFFFF;
}

.StatusBar span:active {
    border: 1px dotted black;
    cursor: pointer; 
}

.MenuList {
    width: 10em;
}



.ToolBar {
   /* -moz-user-modify: read-only;
    -moz-user-input: disabled;
    -moz-user-select: none;*/
    height: 28px;
    background-color: #ff6611;
    position: fixed;
    z-index: 999;
    top: 16px;
    left: 0px;
    width: 100%;
    border-left: 5px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    -moz-user-select: none;
    
}

.ToolBarButton {
  height: 20px; 
  width: 20px; 
  border: solid 1px #C0C0C0;
  background-color: #C0C0C0;
  /*-moz-user-modify: read-only;
  -moz-user-input: disabled;
  -moz-user-select: none;*/
}
.ToolBarButton:hover {
    border: outset 1px;
}

.AboutBox {
  border: outset 1px black;;
  background-color: #ff6600;
  background-image: url("../images/bxelogo.png");
  background-repeat: no-repeat;
  background-position: 8px 5px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  padding-left: 8px;
  padding-top: 40px;
  -moz-opacity: 1;
  overflow: visible;
}

.AboutBox a {
   color: black;
}
.AboutBox table, .AboutBox tr, .AboutBox td {
   border: 0px;
   margin: 0px;
   padding: 0px;
/*   -x-border-x-spacing: 0px;*/
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   line-height: 14px;
}


.AboutBox div {
  
    height: 30px;
    overflow: hidden;
    padding-top: 0px;
    padding-right: 10px;
    
}

.ModalBox {
	-moz-outline: dotted black 1px;
  background-color: #ff6600;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  width: 500px;
  min-height: 200px;
  z-index:1000;
}
.ModalBox .ModalBoxTitle {
    padding-left: 10px;
    padding-right: 2px;
    border: 0px;
    background-color: #aa3300;
    width: 100%;
    height: 20px;
    color: white;
}

.ModalBox .ModalBoxPane {
    
   padding-left: 10px;
   padding-right: 2px;
   
}



.ModalBox .ModalBoxPane input, .ModalBoxPane select, .ModalBoxPane textarea {
    border: dotted black 1px;
    width: 300px;
}

.ModalBoxPane textarea {
    width: 400px;
}


.ModalBox .ModalBoxPane input[type="submit"] , .ModalBoxPane input[type="reset"], .AboutBox input[type="submit"] {
    border: dotted black 1px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ModalBox .ModalBoxPane input.attributeSelector {
    width: 30px;
}

.ModalBox .ModalBoxPane td {
    border: 10px;
}
    
select {
    font-size: 12px;
}

table.beauty  {
    border: dotted black 1px;
}
[bxe_xpath] a {
    cursor: text;
    text-decoration: none;
}



.ToolBar td {
    vertical-align: top;
}

.MenuPopupTitle {
    padding-left: 10px;
    padding-right: 2px;
}

[bxe_xpath] , [__bxe_id]{
	min-height:10px; 
	padding-left: 1px;
    padding-right: 1px;
	-moz-user-modify: read-write !important;
	-moz-user-input: enabled  !important;
	-moz-outline: dotted black 1px ! important;
	-moz-user-focus: normal;
 
}

.bold, .b {
    font-weight: bold;
}

.nonxhtml {
    display: block;
}
    
.italic, .i {
    font-style: italic;
}

.H2 {
    color: red;
}


[name=bxe_areaHolder] {
    margin: 0px;
    border: 0px;
    padding: 0px;
      
    
}

[_edom_tagnameopen]:before {
    content: attr(_edom_tagnameopen); 
    margin-left: 2px; 
    margin-right: 2px; 
    font: 9px Geneva, Verdana, sans-serif; 
    padding: 0px 1px 0px 1px; 
    border: 1px solid black; 
    background: #888;  
    color: #FFF;
}

[_edom_tagnameclose]:after {
 content:  attr(_edom_tagnameclose) ;
 margin-left: 2px;
 margin-right: 2px;
 font: 9px Geneva, Verdana, sans-serif;
 padding: 0px 1px 0px 1px;
 border: 1px solid black;
 background: #888;
  color: #FFF;
}

[__bxe_invalid=true] {
    
    background-color: red;
}

[__bxe_highlight=true], [__bxe_highlight=true] td {
    
    background-color: #FEB676 ! important;
    
    
}


.a {
 color: #0000ee;
}

.bxe_notice { 
    margin-left: 2px;
 margin-right: 2px;
 font: 9px Geneva, Verdana, sans-serif;
 padding: 0px 1px 0px 1px;
 border: 1px solid black;
 background: #888;
  color: #FFF; 
}

[__bxe_noteditable=true] {
    -moz-user-modify: read-only !important;
    /*-moz-user-input: disabled;*/
    -moz-user-select: none;
}

[
