.post_title {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0px;
        padding-bottom: 0px;
}

.post_meta_data {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    font-size: 11px;
}

.post_categories {
    float: right;
}

.blog_pager_prevnext {
    float: right;
}

.comment_meta_data {
    font-weight: bold;
    color: #333;
    
}

.comment {
    margin-bottom: 10px;
}

/*
h3.blog {
     padding-top: 5px;
     color: #333;
}*/

#right h3.blog {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
}

#right li:before {
     
}

#right li {
    margin: 0px;
    line-height: 1.3em;
    padding-top: 0px;
    padding-bottom: 3px;
    text-indent: -1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 0px;
}


 #LSResult {    
      position: absolute;
      background-color: #aaa; 
      border-color: #aaa; 
      min-width: 150px; 
      margin-left: 0px;
      margin-top: 1px;
      padding-left: 0px;
      padding-right: 0px;
  }
  
  #LSShadow {
      position: relative;
      right: 2px;
      bottom: 4px;
      background-color: #666; /*shadow color*/
      color: inherit;
      padding-left: 0px;
      margin-right: -2px;
  }
  
  
 
 #LSResult ul {
     margin-bottom: -5px;
     margin-top: 0px;
     padding-top: 0px;  
     line-height: 1.5em;
 }
 

 
 .LSRes {
      position: relative;
      bottom: 1px;
      right: 1px;
      background-color: white;
      border:  1px solid #AAA;
      padding-left: 0px;
     
  }
  
#LSHighlight, #LSHighlight a {
     background-color: #006486;
     color: #ffffff;
}


#livesearch {
    width: 140px;
    display: block;
}
    
 .searchHighlight {
    background-color: #006486;
}

h2.post_title {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    color: #333;
}

.post_links {
    text-align: right;
    font-size: 10px;
    padding-bottom: 15px;
}

.post_categories {
    color: #666;
}

.wizardError {
	color: red;
}



select, input, textarea {
 
    
   font-size: 12px; 
   font-style: normal; 
   font-weight: normal; 
   text-decoration: none; 
   

    border: 1px solid #aaa;
   width: 300px;
   }
   
   
.button {
   width: 7em;
   margin: 5px 10px 5px 0px;
   
}
   
textarea { 
       height: 200px;
       width: 100%;
}

.checkbox {
    width: 14px;
    border: 0px;
}

#upload_iframe{

    border: 0;
	width: 100%;
    height: 30px;
    overflow: hidden;

}

#kupu-tb-styles {
    width: 7em;
}

/****************************************************************************
 * Subeditor styles are below
 ***************************************************************************/

.navitabs {
padding:5px 0px 0px 0px;
margin: 0px;
border-bottom: 1px solid #888888;
}

.navitabs ul { 
padding: 0px;
padding-bottom: 7px;
margin:0px;
}
.navitabs li { 
list-style-type: none;
float: left;
padding: 0px;
padding:2px 0px 3px 0px;
margin:0px 0px -4px 0px;
}

.navitabs a { 
display:block;
border-top: none;
border-right: none;
border-left: none;
padding:2px 8px 3px 8px;
margin:0px;
color: #006486;
background-color: transparent;
}

.navitabs ul li a.selected { 
border-top: 1px solid #888888;
border-right: 1px solid #888888;
border-left: 1px solid #888888;
background-color: #ffffff;
}

.navitabs ul li a:hover {
    text-decoration: none;
    color: #006486;
}


.navitabs ul li a:active {
    text-decoration: none;
    color: #006486;
}

#subeditor a {
}

#subeditor a:visited {
    color:#000000;
    background-color:transparent;
}

#subeditor a:hover {
    color: #990066;
    background-color:transparent;
    text-decoration: none;
}

#subeditor a:active {
    color:#000000;
    background-color:transparent;
}


#subeditor .button {
    width: 150px;
    padding: 0px;
    margin: 0px;
}

#subeditor ul {
    padding: 0px;
    width: 200px;
}

#subeditor ul.collectionlist li {
    border-bottom: 1px solid #aaa;
    margin: 2px 0px 2px 0px;
    padding-bottom: 2px;
    line-height: 25px;
}

#subeditor ul.collectionlist li img {
    vertical-align: middle;
    padding-right: 1px;
    /*padding-left: 5px;*/
}

#subeditor ul.collectionlist li.first, #subeditor ul.gallerylist li.first {
    background-color: #eee;
}

#subeditor ul.collectionlist li.first a, #subeditor ul.gallerylist li.first a {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

#subeditor ul.gallerylist li {
    border-bottom: 1px solid #aaa;
    margin: 2px 0px 2px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

#subeditor ul.imagelist li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#subeditor ul.level2 {
    padding: 0px 0px 0px 15px;
    width: 200px;
}

#subeditor li {
}

#subeditorleft {
}

#subeditorright {
    float: right;
}

h3, #subeditor h3 {
    font-family: "Trebuchet MS", Lucida,Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
text-transform: uppercase;
padding: 0px 4px;
color: #006486;
font-size: 15px;
font-weight: bold;
letter-spacing: 0.1em;
}


#subeditorright h3 {
    border-bottom: 1px solid #333;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: none;
}


.tabcontent {
    display: block;
}

.tabcontentHidden {
       display: none;
}

.helptip {
    position: absolute;
    display: none;
    background-color: yellow;
    border: 1px #dddd00 solid;
    padding: 2px;
}

.helpmark{
    cursor: pointer;
}

#oneform input {
    width: inherit;
    margin-right: 2px;
}

#admin_blog_pager_prevnext {
    margin-left:350px;
}

#newcategory {
    width: 115px;
}

#sidebar_edit {
    
    position: absolute;
    background-color: white;
    border: 2px solid #006486;
    z-index: 1000;
    width: 600px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
}

