body {
    background-color : #fff;
    margin: 0px;
    padding: 0px;
}

body, td, a, td a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 12px;
    color: #000;
    text-decoration: none;
}

a:hover, td a:hover {
    text-decoration: underline;
}

td.formHeader {
    width: 180px;
    text-align: right;
    padding: 7px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

td.formInput {
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.mainformcontainer {
    padding: 0px 5px 5px 5px;
    margin-top: 50px;
    //margin-top: 0px;
    z-index: 1;
}

.subformcontainer {
    padding: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    margin-bottom: 120px;
    background-color: #e9e9e9;
}

.form {
}


.form h1, .form h3 {
    font-weight: bold;
    padding: 15px 10px 3px 10px;
    margin: 0;
    margin-bottom: 5px;
    color: #006486;
}

.form h1 {
    font-size: 13px;
    border-bottom: 1px solid #006486;
    width: 700px;
}

.form h3 {
    font-size: 10px;
    padding: 0;
}

.form h3 a {
    padding: 0px 6px 0px 6px;
    border: 1px solid #aaa;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.form h3 a:hover {
    text-decoration: none;
}

.form input, iframe, .form textarea, .form select {
    border: solid #006486 1px;
    z-index: 1;
}

.form input.hasfocus, .form textarea.hasfocus {
    border: solid #005476 1px;
    background-color: #eee;
    z-index: 1;
}

#controls {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 48px;
    width: 100%;
    padding: 2px 0px 0px 10px;
    border-bottom: solid #eee 1px;
    background-color: #fff;
    z-index: 1000;
}

.toolbar .buttons input {
    border: 1px solid #aaa;
    background-color: #eee;
    margin: 0px;
    padding: 1px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.toolbar .buttons input.disabled {
    border: 1px solid #eee;
    background-color: #eee;
    color: #ccc;
    margin: 0px;
    padding: 1px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.liveselectcontainer {
    position: absolute;
}

.liveselect {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.liveselect input {
    border: 1px solid #333;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    vertical-align: top;
    width: 405px;
}

.liveselectResults {
    position: relative;
    bottom: 3px;
    right: 3px;
    margin: 0px;
    display: none;
    border: 1px solid #333;
    padding: 1px;
    background-color: #fff;
    width: 420px;
    z-index: 2000;
    cursor: pointer;
    max-height: 500px;
    overflow: auto;
}

.liveselectResultsShadow {
    background: transparent url(/themes/standard/admin/images/shadow2.png);
    position: relative;
    bottom: -3px;
    right: -3px;
    color: inherit;
    display: block;
}

.liveselectResults ul {
    padding: 0px;
    margin: 0px;
}

.liveselectResults li {
    list-style-type: none;
    line-height: 13px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    color: #333;
    padding: 0px 3px 0px 3px;
    margin-bottom: 1px ;
    font-size: 11px;
}

.liveselectResults li.hasfocus {
    background-color: #006486 !important;
    color: #fff; 
    list-style-type: none;
    border-top: 1px solid #006486;
    border-bottom: 1px solid #006486;
    padding: 0px 3px 0px 3px;
}

.liveselectPager {
    color: #666;
    font-size: 11px;
    padding-top: 3px;
    border-top: 1px solid #333;
    margin-top: 2px;
    display: none;
}

.listview {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.listviewResults {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    margin-bottom: 10px;
}

.listviewResults table {
}

.listviewResults table tr th {
    text-align: left;
    border-bottom: 2px solid #aaa;
}

.listviewResults table tr td a {
    cursor: pointer;
}
.listviewResults table tr td img {
    cursor: pointer;
}

#statusline {
    padding-top: 5px;
}

#statustext {
    background-color: #fff;
    padding: 0px 5px 0px 5px;    
    font-family: Courier;
    font-size : 10px;
}

.n2mvalues {
    margin-top: 30px;
    min-height: 10px;
}

.n2mvalue {
    width: 75%;
    border-top: 1px dashed #ddd;
    margin: 3px 0px 2px 0px;
}

.n2mvalue a {
    margin-right: 10px;
    text-decoration: underline;
}



.smallImage {
    border: 1px #dddddd solid;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
    color: #dddddd;
}

.imageTooltip {
    color: #000;
    background-color: #fff;
    border: solid #ddd 1px;
    padding: 5px;
}

.imageTooltip span.top {
    padding: 0px;
}

.pic {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.pic img {
    padding: 0px;
    margin: 0px 20px 5px 5px;
    
    vertical-align: top;
}

